@import url('https://fonts.googleapis.com/css?familiy=Raleway:300,400');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url('fonts/Booter - Zero Zero.woff') format("woff"),
         url('fonts/Booter - Zero Zero.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777777;
}

.nav li {
    display: inline;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(red, green, blue, alpha);
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url('./images/321572.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

